{{#each products}}
<div class="container text-center row-gap-3">
  <div class="row">
    <div class="col-sm-8 d-flex justify-content-start">
        <img src="{{this.main}}" alt="{{this.name}}"width="400px">
    </div>
    <div class="col-sm-4" style="text-align: left;">
        <h3><strong>{{this.name}}</strong></h3>
        <p>{{this.price}}</p>
        <p>{{this.description}}</p>
<form action="/cart" method="post">>
<button type="submit">Add to Cart</button>
</div>
  </div>
  <div class="container text-center">
  <div class="row row-cols-auto">
    {{#each this.images}} 
    <div class="col"><img src="{{this.src}}" alt="{{this.name}}" width="100px"></div>
    {{/each}}
    </div>
  </div>
</div>
<div class="section-divider" id="gallery"></div>
<div class="section-divider" id="gallery"></div>
<h3>Similar Products</h3>
<div class="row">
  {{#each this.images}} 
  <div class="col-3">
  <img src="{{this.src}}" alt="{{this.name}}" class="img-thumbnail" width="200px" height="200px">
    </div>
    {{/each}}
</div>
</div>
{{/each}}